@font-face {
  font-family: 'Antique Olive';
  src: url('antique/AntiqueOliveStd-Roman.woff2') format('woff2'),
    url('antique/AntiqueOliveStd-Roman.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Antique Olive';
  src: url('antique/AntiqueOliveStd-Bold.woff2') format('woff2'),
    url('antique/AntiqueOliveStd-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Antique Olive';
  src: url('antique/AntiqueOliveStd-Italic.woff2') format('woff2'),
    url('antique/AntiqueOliveStd-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Antique Olive';
  src: url('antique/AntiqueOliveStd-Light.woff2') format('woff2'),
    url('antique/AntiqueOliveStd-Light.woff') format('woff');
  font-weight: 200;
}

@font-face{
  font-family: 'Source Serif VF';
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url('source/SourceSerif4Variable-Roman.ttf.woff2') format('woff2'),
       url('source/SourceSerif4Variable-Roman.ttf.woff') format('woff'),
       url('source/SourceSerif4Variable-Roman.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Serif VF';
  font-weight: 200 900;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
  src: url('source/SourceSerif4Variable-Italic.ttf.woff2') format('woff2'),
       url('source/SourceSerif4Variable-Italic.ttf.woff') format('woff'),
       url('source/SourceSerif4Variable-Italic.ttf') format('truetype');
}


@font-face {
  src: url('fern/Fern_Web/fonts/FernVariable-Roman-VF.woff2') format("woff2"),
       url('fern/Fern_Web/fonts/FernVariable-Roman-VF.woff') format("woff");
  font-family: 'Fern Web';
  font-style: normal;
  font-weight: 400 800;
  }

@font-face {
  src: url('fern/Fern_Web/fonts/FernVariable-Italic-VF.woff2') format("woff2"),
       url('fern/Fern_Web/fonts/FernVariable-Italic-VF.woff') format("woff");
  font-family: 'Fern Web';
  font-style: italic;
  font-weight: 400 800;
  }

