.decade-detail h1 {
  font-size: var(--huge-size);
  margin: 0 0 var(--huge-size);
  line-height: 1;
}

.session {
  padding: calc(var(--padding)*2) 0;
  border-top: var(--borderstyle);
}
.session .max {  
  position: relative;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-areas: "year title vide" 
                        "context image technique";
  grid-row-gap: var(--padding);
  grid-column-gap: calc(var(--margin)*1.2);
  /* margin-bottom: var(--margin); */
}



.session-year {
  font-family: var(--basefamily);
  /* position: sticky;
  top: calc( var(--headerheight) + var(--padding)); */
  align-self: flex-start;
  font-size: var(--big-size);
  font-weight: bold;
  grid-area: year;
  text-align: right
}
#decade-sessions .session-lecturers {
  grid-area: people;
  list-style-type: none;
  text-align: right;
  line-height: 1.4;
  font-size: .75em;
  font-variation-settings: "opsz" 10;
  display: none;
}
#decade-sessions .session-lecturers li {
  display: inline;
}
#decade-sessions .session-lecturers li + li::after {
  content: ", ";
}
#decade-sessions .session-lecturers li + li:last-child:after {
  content: ".";
}
.session-title {
  color: var(--accent-color);
  /* line-height: var(--line-height); */
  margin-bottom: .5em;
  font-size: var(--big-size);
  grid-area: title;
}
.session-subtitle{
  font-family: var(--basefamily);
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.4;
}

.session-introduction{
  grid-area: image;
}

.session-introduction figure{
  overflow: hidden; 
}



.session-introduction a:hover img{
  transform: rotate(-1.5deg);
  transition-duration: .5s;
}

.session-cover{
  margin: 0 0 var(--padding) 0;
}

[data-responsive="desktop"]{
  display: block;
}

[data-responsive="phone"]{
  display: none;
}

.context-group{
  grid-area: context;
}

.context-group-technique{
  grid-area: technique;
}


.prevnext {
  border-bottom: var(--borderstyle);
  padding: var(--padding);
  margin: 0 0 var(--padding);
  font-family: var(--basefamily);
}
.prevnext-next { text-align: right;}
@media screen and (min-height:900px) {
  .prevnext {
    position: sticky;
    top: var(--headerheight);
    background: white;
    z-index: 2;
  }
}

@media screen and (max-width:40rem) {
  .prevnext-dash { display: none; }
}
@media screen and (max-width:35rem) {
  .prevnext-title { display: none; }
}
.prevnext .max {
  display: flex;
  justify-content: space-between;
}
.prevnext .max a:last-child:first-child{
  justify-self: flex-end;
}
.prevnext:last-child {
  border-bottom: none;
  border-top:  var(--borderstyle);
  margin-bottom: 0;
}

.session-gallery + .prevnext:last-child {
  border: none;
}

#home .session-introduction-text{ display: none;}

@media (max-width: 1080px) {


  [data-responsive="desktop"]{
    display: none
  }

  [data-responsive="phone"]{
    display: block
  }

  .session .session-year{
    text-align: left;
  }

  
  .session .max {  
    position: relative;
    display: block;
    margin: 0 2em;
    /* min-height: 54vw; */
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "year videA" 
                        "title videB" 
                        "image context";
     grid-row-gap: 0em;


  }

  #home .session-title{
    margin-bottom: var(--margin);
  }

  #home .session-title:hover{
    /* transform: rotate(-2deg);
    transition-duration: .5s; */
  }

  .all-context{
    grid-area: context;
  }

  .session .session-introduction{
     z-index: 10;
  }



  .decade-header {
    display: grid;
    grid-template-columns: 2fr 8fr 0fr;
  }

  .decade-title{
    text-align: right;
    font-size: 1.5em;
  }

  .decade-intro p{
    max-height: 
  }

}


@media (max-width: 700px) {

  .session{
    padding-top: 1em;
    margin-top: .5em;
  }


  .decade-header {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
    margin-left: 1.5em;
    margin-right: 1.5em;
  }

  .session-year,
  .session-title,
  .context-group{
    margin-left: 1.5em;
    margin-right: 1.5em;
  }

  #home .session-cover{
    margin-bottom: calc(var(--padding)*1.5);

  }

  .decade-title{
    text-align: left;
  }

  .decade-intro h3{
    margin-bottom: 0.5em;
  }

  .session{
   padding-bottom: 0;

  }
  .session .max {  
    margin: 0 .8em;
    grid-template-columns: 1fr;
    grid-template-areas: "year" "title" "image" "context" "technique";
    grid-row-gap: 0em;
  }


  .context-group-technique{
    grid-area: technique;
  }

  .session-title, .session-year {
    font-size: 1em;
  }

  

}

/* @media (max-width: 40rem) {
  .session .max {  
    grid-template-columns: 1fr;
    grid-template-areas: "year" "title" "image" "context";
  }
  .session-aside{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-gap: var(--padding);
    margin-top: 1em;
  }
  .session-context {
    margin-bottom: 0 !important;
  }
}


@media (max-width:25rem) {
  
  .session-aside{
    grid-template-columns:1fr ;
  }
} */