.decade-detail h1 {
  font-size: var(--huge-size);
  margin: 0 0 var(--huge-size);
  line-height: 1;
}

.session {
  padding: var(--padding);
  border-top: var(--borderstyle);
}
.session .max {  
  position: relative;
  display: grid;
  grid-template-columns: var(--yearwidth) 6fr 2fr;
  grid-template-areas: "year title title" "people image context";
  grid-gap: var(--padding) var(--margin);
  /* margin-bottom: var(--margin); */
}

.session-year {
  font-family: var(--basefamily);
  /* position: sticky;
  top: calc( var(--headerheight) + var(--padding)); */
  align-self: flex-start;
  font-size: var(--big-size);
  font-weight: bold;
  grid-area: year;
}
#decade-sessions .session-lecturers {
  grid-area: people;
  list-style-type: none;
  text-align: right;
  line-height: 1.4;
  font-size: .75em;
  font-variation-settings: "opsz" 10;
  display: none;
}
#decade-sessions .session-lecturers li {
  display: inline;
}
#decade-sessions .session-lecturers li + li::after {
  content: ", ";
}
#decade-sessions .session-lecturers li + li:last-child:after {
  content: ".";
}
.session-title {
  color: var(--accent-color);
  line-height: var(--line-height);
  margin-bottom: .5em;
  font-size: var(--big-size);
  grid-area: title;
}
.session-subtitle{
  font-family: var(--basefamily);
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.4;
}

.session-introduction{
  grid-area: image;
}
.session-cover{
  margin: 0 0 var(--padding) 0;
}

.session-aside{
  /* padding-top: calc(var(--basesize) * 1.5 + var(--padding) * 2); */
  grid-area: context;
}

.prevnext {
  border-bottom: var(--borderstyle);
  padding: var(--padding);
  margin: 0 0 var(--padding);
  font-family: var(--basefamily);
}
@media screen and (min-height:900px) {
  /* .prevnext {
    position: sticky;
    top: var(--headerheight);
    background: white;
    z-index: 2;
  } */
}
.prevnext .max {
  display: flex;
  justify-content: space-between;
}
.prevnext .max a:last-child:first-child{
  justify-self: flex-end;
}
.prevnext:last-child {
  border-bottom: none;
  border-top:  var(--borderstyle);
  margin-bottom: 0;
}

.session-gallery + .prevnext:last-child {
  border: none;
}