.default-header{
  padding: var(--padding);
}
.default-header h1 {
  font-size: var(--huge-size);
}

.default-article{
  padding: var(--padding);
  border-top: var(--borderstyle);
  font-family: var(--serif);
  font-size: calc(1rem * var(--fs-adjustment, 1));
  line-height: calc(var(--line-height) * var(--lh-adjustment, 1));
}

.default-article p {
  margin-bottom: 1em;
}

.default-article a {
  text-decoration: underline;
  text-underline-offset: .25em;
}

[data-slug="a-propos"] .default-header h1{
  font-size: 2.5em;
  margin-top: .1em;
}

hr {
  margin: 1em 0;
  background: none;
  border: none;
  border-bottom: 2px solid #ddd;
}
.fontchanger {
  margin-top: 2em;
  
}
.fontchanger::before {
  content: "";
  border-bottom: 2px solid #ddd;
  display: block;
  margin-bottom: 2em;
}
.fontchanger button {
  background: black;
  border: none;
  color: white;
  padding: .35em 1.5em .35em;
  cursor: pointer;
}
.buttons{display: flex;}
.buttons :first-child {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}
.buttons :last-child {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}
body[data-font="fern-web"] #changefont-fern,
body[data-font="source-serif-vf"] #changefont-source{
  background-color: var(--accent-color);
}