#header {
  padding: var(--padding);
  border-bottom: var(--borderstyle);
  position: sticky;
  top: 0;
  z-index: 2;
  background: var(--background-color);
  min-height: var(--headerheight);
  /* overflow: hidden; */
  z-index: 10001;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
@media (max-height:45rem){
  #header { position: static; }
}
#header .max{
  flex: 1;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.logo, #nav, #search-bar, .search-form {
  font-size: 1rem;
}

#nav {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  /* position: absolute;
  right: 0;
  bottom: 0;
  right: calc(5vw); */
}

.nav-about {
  margin-right: 1em;
}

.nav-about,
.nav-decades {
  display: flex;
  list-style-type: none;
  /* line-height: 1.5; */
}

.nav-about li,
.nav-decades li{
  margin-left: 1em;  
  white-space: nowrap;
}
li#li-a-propos{
  border-left: 1px solid #ddd;
  padding: 0 1em;
  border-right: 1px solid #ddd;
}
#search-bar{
  flex-shrink: 0;
}
/* .open h1 { display: none;} */
.open #nav {
  background: white;
  display: flex;
  margin-top: 1em;
  flex-direction: column;
  align-items: stretch;
  grid-column: 1 / span 2;
  padding-top: calc(3px + var(--margin));
  position: relative;
}
.open #nav::before {
  position: absolute;
  top: 0;
  content: "";
  display: block;
  border-bottom: var(--borderstyle);
  width: calc(100% + var(--padding) * 2);
  margin-left: calc(-1 * var(--padding));
}
.open #nav ul::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  border-bottom: var(--borderstyle);
  width: calc(100% + var(--padding) * 2);
  margin-left: calc(-1 * var(--padding));
}
.open #nav ul {
  margin-bottom: 1em;
  position: relative;
  padding-bottom: var(--padding);
}
.open #nav ul.nav-about {
  margin-right: 0;
}
.open #nav .nav-decades {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
}
.open #nav .nav-decades li {
  margin: 0 1em 0 0;
}
.open .nav-about,
.open .nav-about li {
  margin-left: 0;
}
.open li#li-a-propos{
  border: none;
  padding: 0;
}

#header.open .max {
  display: grid;
  grid-template-columns: 8fr 1fr;
}
#header.open .hamburger{
  justify-self: end;
}
.hamburger {
  --burgercolor: #000;
  --burgersize: 1em;
  display: none;
  background: none;
  border:none;
  top: -.25em;
  position: relative;
  width: calc(var(--burgersize) * 1.25);
  height: var(--burgersize);
  border-top: 2px solid var(--burgercolor) ;
  border-bottom: 2px solid var(--burgercolor) ;
  cursor: pointer;
  flex-shrink: 0;
  margin-left: 1em;
}
.hamburger span {
  display: block;
  width: var(--burgersize);
  text-indent: calc(var(--burgersize) * 2);
  overflow: hidden;
  height: 0;
  width: calc(var(--burgersize) * 1.25);
  border-top: 2px solid var(--burgercolor) ;
}
.open #nav .hamburger span {
  display: none;
}
.open #nav .hamburger::before {
  content: "";
  display: block;
  border-top: 2px solid;
  transform: rotate(45deg);
  width: calc(var(--burgersize) * 1.25);
  position: absolute;
}
.open #nav .hamburger::after {
  content: "";
  display: block;
  border-top: 2px solid;
  transform: rotate(-45deg);
  width: calc(var(--burgersize) * 1.25);
  position: absolute;
}
.open #nav .hamburger {
  border: none;
}

.logo { flex: 2;}
#nav { flex: 1;}
@media (max-width:60rem) {
  .hamburger {
    display: block;
  }
  #nav {
    display: none;
  }

  
}