
html { scroll-behavior: smooth; background: #eaeaea;}
@media (prefers-reduced-motion: reduce) { html { scroll-behavior: auto; } }

body {
  font-size: var(--basesize);
  font-family: var(--sans);
  color: var(--text-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-color);
  line-height: 1.2;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 400;
}
h2 {
  font-weight: bold;
}
h3 {
  font-size: 1em;
}
p,
blockquote {
  max-width: 75ch;
  max-width: 50rem;
}

a {
  color: currentColor;
  text-decoration: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}