.search-header{
  padding: var(--padding);
}
.search-header h1 {
  font-size: var(--huge-size);
}

#search-overlay {
  position: fixed;
  z-index: 1000;
  top: 0; right: 0; bottom: 0; left: 0;
  display: none;
}
.searching { pointer-events: none; }
.searching ~ #search-overlay {display: block;}
.searching .logo, #menu, #search-bar{ pointer-events: all;}
.searching .nav-decades, .searching .nav-about { display: none;}
/* .searching .logo { visibility: hidden; display: none;} */
.searching #search-bar{
  position: relative;
  /* top: .25em; */
  flex: 1;
  width: 100%;
}
.search-button {
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  top: 0.25em;
}
.search-form { 
  display: none;
  position: relative;
  z-index: 1001;
  justify-content: space-between;
  border: 3px solid #ddd;
  padding: .25em .5em .05em;
  text-transform: uppercase;
  
  letter-spacing: .05em;
  
  background: #ddd;
  /* margin-top: -.2em; */
}
.search-icon {  height: 1.25em;}
#search-bar.opened #search-navbutton { display: none;}

#search-bar.opened .search-form {  display: flex; }
.search-form .search-button { top: -.1em;}
.search-input {
  border: none;
  padding: 0;
  outline: none;
  /* font-size: .85em; */
  min-width: 10em;
  flex: 1;
  
  background: transparent;
}


.search-no-result {
  margin: var(--margin) 0;
  padding: 0 var(--padding);
}

#search-input {
  margin-right: .25em;
  width: calc(100% - 40px);
}

.search-query {
  
}
.search-query  .search-form { 
  display: flex;
  font-size: inherit;
  
}
.search-header + .search-header {
  border-top: var(--borderstyle);
}
.ispeople h3 {
  font-weight: bold;
  font-size: var(--huge-size);
  margin-top: -.2em;
  font-family: var(--serif);
}
.people {
  display: grid;
  grid-template-columns: var(--yearwidth) 6fr 2fr;
  grid-template-areas: "year title void" "year people void" "year text void";
  grid-gap: 0 var(--margin);
  margin: var(--margin) 0;
}
.people h1{
  grid-area:title ;
}
.people h2{
  grid-area:people ;
}
.people .text {
  grid-area:text ;
  font-family: var(--serif);
  font-size: calc(1rem * var(--fs-adjustment, 1));
  line-height: calc(var(--line-height) * var(--lh-adjustment, 1) * 1.1);
}


.people h2 {
  color: var(--accent-color);
  font-size: 1.5em;
  margin-bottom: .5em;
  font-weight: normal;
}



@media (max-width:60rem) {
  .people {  
    grid-template-columns: 6fr 2fr;
    grid-template-areas: "title void" "people void" "text void";
    grid-gap: 0 var(--margin);
  }
  .ispeople h3 { transform: scaleX(-1);}
}

@media (max-width:40rem) {
  
  .people {  
    grid-template-columns: 1fr;
    grid-template-areas: "title" "people" "text";
  }
  .ispeople h3 { display: none;}
}
