:root {
  --lh-adjustment:1;
  --fs-adjustment:1;
  --basesize: 1rem;
  --sans: 'Antique Olive', sans-serif;
  --serif: 'Source Serif VF', serif;
  --line-height: 1.25;
  --text-color: rgba(0, 0, 0, 0.75);
  --accent-color: #ff440b;
  --second-color: #1358d7;
  --background-color: #fff;
  --padding: 1rem;
  --margin: 2rem;
  --yearwidth: calc(8.5em - var(--margin) / 2);
  --huge-size: 4em;
  --big-size : 1.5em;
  --headerheight: calc( var(--basesize) * var(--line-height) * 2 + var(--padding) * 2 + 1px);
  --borderstyle: 3px solid #ddd;
}
@media (max-width: 800px) {
  :root {
    --padding: 1em;
    --margin: 1em;
  }
}


@media (max-width: 35rem) {
  :root {
    --huge-size: 2.5em;
  }
}

@media (max-width: 25rem) {
  :root {
    --big-size : 1.35em;
  }
}
